{% extends 'ledgbook/base.html' %}
{% block sidebar %}

    <script type="text/javascript">

    </script>
    <!-- left sidebar -->
    <!-- ============================================================== -->
    <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
               <!-- <a class="d-xl-none d-lg-none" href="#">Dashboard</a> -->
                <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        <div class="row">
                            <li class="nav-divider">
                                Menu
                            </li>
                             <span class="navbar-toggler-icon"></span>
                        </div>
                        <li class="nav-item ">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>
                                수익설계
                                <span class="badge badge-success">6</span>
                            </a>
                            <div id="submenu-1" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="ledgbook_rich">
                                            수익계획
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-fw fa-rocket"></i>
                                종목관리
                            </a>
                            <div id="submenu-2" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/cards.html"> <span class="badge badge-secondary">종목 탑픽 20</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/general.html">카테고리별 종목 관리</a>
                                    </li>
<!--                                            <li class="nav-item">-->
<!--                                                <a class="nav-link" href="pages/carousel.html"></a>-->
<!--                                            </li>-->
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>설정</a>
                            <div id="submenu-3" class="collapse submenu" style="">
                                <ul class="nav flex-column">
<!--                                            <li class="nav-item">-->
<!--                                                <a class="nav-link" href="pages/chart-c3.html">C3 Charts</a>-->
<!--                                            </li>-->
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
{% endblock sidebar %}
