{% extends 'ledgbook/ledgbook_sidebar.html' %}
{% block bookRich %}
<script type="text/javascript">
    $(document).ready(function () {

        //------ Enter Key Set --------
        //종목검색 Enter
        $("#schStockNm").keypress(function (e) {
            if (e.keyCode == 13) {
                searchStockName();
            }
        });

        // 카테고리명 Enter
        $("#addCatheNm").keypress(function (e) {
            if (e.keyCode == 13) {
                addCathe();
            }
        });

        // 카테고리 키워드 Enter
        $("#addCatheKeyword").keypress(function (e) {
            if (e.keyCode == 13) {
                addCathe();
            }
        });


        //----------- click set
        // 카테고리 추가 클릭
        $("#addCathe").click(function () {
            addCathe();
        });

        // 종목검색 찾기 클릭
        $("#schStockNmBtn").click(function () {
            searchStockName();
        });

        // 카테고리 선택하면 히든값에 해당 카테고리 임시저장
        $(".nav-link").click(function () {
            var tmpId = $(this).attr("id").split("-")[2];
            if (tmpId == "reg") {
                tmpId = ""
            }
            $("#selectedCatheNum").val(tmpId)  // cathe_num 추출

        });

        //카테고리 누를 시 종목추가 포커스 바뀜
        $("a[id^='v-pills-']").click(function () {
            $("#selectedCatheNum").val(this.id.split("-")[2])

            // 클릭한 카테고리에 해당하는 주식 리로드
            reloadCatheStocks();
        });

    }) // .ready()

    // -----------------------------------  AJAX 설정

    //카테고리 추가
    function addCathe(){

        var catheKeyword = $("#addCatheKeyword").val();
        if (catheKeyword == "" || catheKeyword == undefined){
            catheKeyword = '없음';
        }
        data = {
              "cathe_name": $("#addCatheNm").val()
            , "cathe_keyword": catheKeyword
        }

        $.ajax({
            url: "{% url 'add_cathe' %}"
            , dataType: "json"
            , data: JSON.stringify(data)
            , method: "POST"
            , success: function (data) {
                location.reload();
            }
            , error: function (request, status, error) {
                console.log('실패');
            }
        });
    }

    //카테고리 삭제
    function deleteCathe(cathe_name , cathe_num){

        deleteFlag = false;
        if(confirm("카테고리를 한번 삭제하면 복구가 불가능합니다. 삭제하시겠습니까?")) {
            data = {
                "cathe_name": cathe_name
                , "cathe_num": cathe_num
            }
            $.ajax({
                url: "{% url 'delete_cathe' %}"
                , dataType: "json"
                , data: JSON.stringify(data)
                , method: "POST"
                , success: function (data) {
                    $("#catheLine_" + cathe_num).hide()
                    $("#v-pills-" + cathe_num + "-tab").hide()
                }
                , error: function (request, status, error) {
                    console.log('실패');
                }
            });
        }else{
            alert("취소되었습니다.")
        }
    }

    //종목 찾기
    function searchStockName(){
         data = {
                 "sch_stock_nm": $("#schStockNm").val()
         };

        $.ajax({
            url: "{% url 'sch_stock_list' %}"
            , dataType: "json"
            , data: JSON.stringify(data)
            , method: "POST"
            , success: function (data) {

                var tmpRow = ""
                var stockNm
                var stockNum
                $("#schStockList").empty();
                for(var i = 0 ; i < data.length ; i ++){
                    stockNm = data[i].fields.stock_name;
                    stockNum = data[i].fields.stock_num;

                    tmpRow  =   "<tr>"
                            +       "<td>"+stockNm+"</td>"
                            +       "<td>"+stockNum+"</td>"
                            +       "<td>"
                            +           "<span class='btn btn-rounded btn-secondary btn-xs'"
                            +               " onclick='addStockToCathe(\""+stockNm+"\",\""+stockNum+"\")'>추가"
                            +           "</span>"
                            +       "</td>"
                            +   "</tr>"
                            ;

                    $("#schStockList").append(tmpRow)
                    // console.log(data[i].fields.stock_name)
                   // console.log(data[i].fields.stock_num)
                }
            }
            , error: function (request, status, error) {
                console.log('실패');
            }
        });
    }

    // 카테고리에 주식종목 추가.
    function addStockToCathe(stockNm, stockNum){

        if ($("#selectedCatheNum").val() == 'reg'){
            alert("카테고리를 선택하여 주십시오");
            return;
        }

        data = {
                   "stock_num" : stockNum
                 , "cathe_num" : $("#selectedCatheNum").val()
                 , "stock_name": stockNm
            };

        $.ajax({
            url: "{% url 'add_stock_cathe' %}"
            , dataType: "json"
            , data: JSON.stringify(data)
            , method: "POST"
            , success: function (data) {
                     reloadCatheStocks();
            }
            , error: function (request, status, error) {
                console.log('실패');
            }
        });
    }

    // 카테고리에 주식종목 삭제.
    function deleteStockFromCathe(stockNum){
        data = {
                   "stock_num" : stockNum
                 , "cathe_num" : $("#selectedCatheNum").val()
            };

        $.ajax({
            url: "{% url 'delete_stock_cathe' %}"
            , dataType: "json"
            , data: JSON.stringify(data)
            , method: "POST"
            , success: function (data) {
                     reloadCatheStocks();
            }
            , error: function (request, status, error) {
                console.log('실패');
            }
        });
    }

    // 카테고리별 주식창 리프레시
    function reloadCatheStocks(){
        // 카테고리 입력창일경우 리프레시 안함.
        if($("#selectedCatheNum").val() == 'reg')
            return;

        data = {
                   "cathe_num" : $("#selectedCatheNum").val()
            };

        $.ajax({
            url: "{% url 'reload_cathe_stocks' %}"
            , dataType: "json"
            , data: JSON.stringify(data)
            , method: "POST"
            , success: function (data) {

                $("#v-tbody-"+$("#selectedCatheNum").val()).empty();
                for (var i = 0; i < data.length; i++) {
                    tmpRow  =   "<tr>"
                            +       "<td>"+data[i].fields.stock_name+"</td>"
                            +       "<td>"+data[i].fields.stock_num+"</td>"
                            +       "<td>"+data[i].fields.sync_yn+"</td>"
                            +       "<td>"
                            +           "<span class='btn btn-rounded btn-secondary btn-xs'"
                            +               " onclick='deleteStockFromCathe("+data[i].fields.stock_num+")'>삭제"
                            +           "</span>"
                            +       "</td>"
                            +   "</tr>"
                            ;
                    $("#v-tbody-"+$("#selectedCatheNum").val()).append(tmpRow)
                }
            }
            , error: function (request, status, error) {
                console.log('실패');
            }
        })
    }

    // 카테고리 정보 수정
    function updateCathe(catheNum){
        var catheInfo = $("#catheLine_"+catheNum+" input")

        if($(catheInfo[0]).val() == null || $(catheInfo[0]).val() == ""){
            alert("카테고리 이름은 반드시 입력해야합니다.");
            return;
        }

        data = {
                  "cathe_num"    : catheNum
                , "cathe_name"   : $(catheInfo[0]).val()
                , "cathe_keyword": $(catheInfo[1]).val()
            };

        $.ajax({
            url: "{% url 'update_cathe' %}"
            , dataType: "json"
            , data: JSON.stringify(data)
            , method: "POST"
            , success: function (data) {
                $("#v-pills-"+catheNum+"-tab").text($(catheInfo[0]).val());
                $("#catheName_"+catheNum     ).text($(catheInfo[0]).val());
                $("#catheKeyword_"+catheNum  ).text($(catheInfo[1]).val());
            }
            , error: function (request, status, error) {
                console.log('실패');
            }
        })

    }


</script>
<input id="selectedCatheNum" type="hidden" value=""/>
<div class="section-block">
    <h2 class="section-title">카테고리 및 종목</h2>
</div>
<!-- ============================================================== -->
<!-- vertical pills  -->
<!-- ============================================================== -->
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
    <div class="pills-vertical">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a style="text-align: center" class="nav-link" id="v-pills-reg-tab" data-toggle="pill" href="#v-pills-reg" role="tab" aria-controls="v-pills-reg" aria-selected="true">
                        <i style="font-size: 1.5em;" class="fas fa-cogs"></i>
                    </a>
                    {% for cathe in cathe_list %}
                        <a class="nav-link" id="v-pills-{{cathe.cathe_num}}-tab" style="padding:10px;" data-toggle="pill" href="#v-pills-{{cathe.cathe_num}}" role="tab" aria-controls="v-pills-{{cathe.cathe_num}}" aria-selected="true">{{cathe.cathe_name}}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 ">
                <div class="tab-content" id="v-pills-tabContent">

                    <div class="tab-pane fade show active" id="" role="tabpanel" aria-labelledby="v-pills-home-{{cathe.cathe_num}}">
                            <h3 class="mb-0">
                                카테고리를 선택해주세요
                            </h3>
                        <hr/>
                    </div>

                    <div class="tab-pane fade show" id="v-pills-reg" role="tabpanel" aria-labelledby="v-pills-home-reg">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                                <h3>
                                    <input id="addCatheNm" style="width: 100%;" type="text" placeholder="카테고리 이름을 입력해주세요">
                                </h3>
                                <h4>
                                    <input id="addCatheKeyword" style="width: 100%;" type="text" placeholder="키워드를 입력해주세요">
                                </h4>
                            </div>
                            <div style="text-align: right" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                                <span id="addCathe" class="btn btn-primary">추가</span>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">카테고리명</th>
                                        <th scope="col">키워드</th>
                                        <th scope="col">기능</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cathe in cathe_list %}
                                        <tr id="catheLine_{{cathe.cathe_num}}">
                                            <td>
                                                <input type="text" value="{{cathe.cathe_name}}" />
                                            </td>
                                            <td>
                                                <input type="text" value="{{cathe.cathe_keyword}}" />
                                            </td>
                                            <td>
                                                <span onclick="deleteCathe('{{cathe.cathe_name}}','{{cathe.cathe_num}}')" href="#" class="btn btn-rounded btn-secondary btn-xs">
                                                    삭제
                                                </span>
                                                <span onclick="updateCathe('{{cathe.cathe_num}}')" href="#" class="btn btn-rounded btn-brand btn-xs">
                                                    수정
                                                </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- 종목 리스트 -->
                    {% for cathe in cathe_list %}
                        <div class="tab-pane fade show " id="v-pills-{{cathe.cathe_num}}" role="tabpanel" aria-labelledby="v-pills-home-{{cathe.cathe_num}}">
                            <div class="row">
                                <!-- 종목명 -->
                                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                                    <h3 id="catheName_{{cathe.cathe_num}}">
                                        {{cathe.cathe_name}}
                                    </h3>
                                </div>
                            </div>
                            <hr/>
                                <p id="catheKeyword_{{cathe.cathe_num}}">
                                    {{cathe.cathe_keyword}}
                                </p>
                            <hr/>
                            <!-- row start -->
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">종목명</th>
                                                <th scope="col">종목번호</th>
                                                <th scope="col">추적여부</th>
                                                <th scope="col">기능</th>
                                            </tr>
                                        </thead>
                                        <tbody id="v-tbody-{{cathe.cathe_num}}">
                                            <tr>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>Otto</td>
                                                <td>Otto</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- row end -->
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <h3 class="card-header">종목 추가</h3>
                    <div class="card-body">
                        <input id="schStockNm" type="text" placeholder="종목명"/>
                        <span id="schStockNmBtn" class="btn btn-primary btn-xs">검색</span>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">종목명</th>
                                    <th scope="col">종목번호</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody id="schStockList">
                            </tbody>
                        </table>
                    </div><!-- card body -->
                </div><!-- card -->
            </div><!-- row grid -->
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end vertical pills  -->
<!-- ============================================================== -->

{% endblock bookRich%}